<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmartDrive-QA.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
				<key>dateExpires</key>
				<string>30/01/2021</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FLOTelematicsSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Typist.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91CFCE9AE07C54ADDC902BD92E0A022418D97BFA</string>
						<key>dateExpires</key>
						<string>30/01/2021</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>thrift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CUMVN3Y28M</string>
						<key>name</key>
						<string>VIA VERDE PORTUGAL SA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CUMVN3Y28M.pt.viaverde.smartdrive</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>CUMVN3Y28M</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SmartDrive.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9502c382-95b2-45fd-a270-86775b3210b9</string>
				<key>name</key>
				<string>pt.viaverde.smartdrive.qa</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CUMVN3Y28M</string>
				<key>name</key>
				<string>VIA VERDE PORTUGAL SA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
